body{
    overflow-x: hidden;
}

section#namaFoto{
    background-color: #D8E8F3;
}


section#namaFoto img{
    width: 300px;
    height: 300px;
    border: 4px solid white;
    border-radius: 9999px;
    margin-top: 40px;
    margin-right: -2rem;
}

section#namaFoto img.ilustrasi1{
    width: 700px;
    height: auto;
    border: none;
    border-radius: 0;
    margin-top:0;
    position: relative;
    left: -92px;
}

section#namaFoto #nama-GitHub{
    z-index: 999;
    width: 118%;
}

section#aboutMe p{
    width: 50%;
    text-align: center;
}

section#status{
    background-color:#D8E8F3 ;
    height: 400px;
}